.App {
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}

img {
  height: 35%;
  width: 50%;
  margin-bottom: 30px;
}

h1 {
  color: grey;
}

button {
  background-color: blue;
  color: white;
  margin-left: 20px;
}

h2 {
  color: orange;
}

p {
  text-align: center;
  justify-content: center;
  color: grey;
}

.row-setter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.recipe {
  margin-top: 40px;
  background-color: skyblue;
  padding: 20px;
}

/* styles.css */
.App {
  text-align: center;
}

.search-form {
  margin: 20px auto;
}

.search-bar {
  width: 80%;
  padding: 10px;
}

.search-button {
  padding: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  text-align: left;
  text-align: center;
}

.recipe-image {
  width: 100%;
  border-radius: 8px;
}

.navbar {
  background-color: #b89898;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .search-bar {
    width: 90%;
  }

  .recipe-card {
    max-width: 100%;
  }
}

.recipe-details {
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
